out
dist
node_modules
.vscode-test/
npm-debug.log
mock-debug.txt
*.vsix
.DS_Store
debugInterMockDebug.zip
package-lock.json
package.json.bak
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/vscode-mock-debug/v16/.suo
debugMockInter.zip
